<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>RedHope Donor Verification OTP</title>
    </head>
    <body>
        <h2>Hello <%= name%>👋</h2>
        <p>Your RedHope Donor Verification OTP is <strong><%= otp%></strong></p>
        <p>This OTP will expire in 3 minutes</p>
    </body>
</html>
